// Widths
$tablet-width: 768px;
$desktop-width: 1150px;

// Text colors
$text_color: #444444;
$nav_link: #000000;

// Title menu buttons
$accent_color: #63d1bb;
$accent_color2: #56c3b2;

// Backgrounds
$title_background: #fafafa;
$footer_background: #f1f1f1;

// Border colors
$week_product_table_border: #ececec;
$title_border: #ececec;
$reviews_nav_border: #ececec;
$product_border: #ededed;
$add_to_cart_border: #c6c6c6;

$main_nav_divider: #ececec;
$footer_divider: #e5e5e5;

// Forms
$button_color: #ffffff;
$button_border: #444444;

$forms_border: #000000;
