button:focus {
  outline: none;
}

fieldset {
  border: none;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
  font-size: 17px;
  line-height: 18px;
  width: 100%;
  box-sizing: border-box;
  border: none;
  background-color: transparent;

  @include tablet {
    font-size: 19px;
    padding-left: 15px;
    width: 100%;
  }

  @include desktop {
    font-size: 19px;
    padding-left: 15px;
    width: 100%;
  }

  &:focus {
    outline: none;
    border-bottom: 2px solid $forms_border;
  }
}

input[type="text"],
input[type="tel"],
input[type="email"] {
  padding-top: 5px;
  padding-bottom: 15px;
  border-bottom: 2px solid $forms_border;

  @include tablet {
    padding-bottom: 20px;
  }

  @include desktop {
    padding-bottom: 20px;
  }

  &:hover, &:focus {
    border-bottom: 2px solid $forms_border_focus;
  }

  &:invalid:focus {
    border-bottom: 2px solid $forms_border_error;
  }
}

input[type="tel"],
input[type="email"] {
  @include tablet {
    padding-top: 10px;
    padding-bottom: 15px;
  }

  @include desktop {
    padding-top: 10px;
    padding-bottom: 15px;
  }
}

textarea {
  height: 143px;
  border: 2px solid $forms_border;
  padding: 15px;

  &:hover, &:focus {
    border: 2px solid $forms_border_focus;
  }

  &:invalid:focus {
    border: 2px solid $forms_border_error;
  }
}

a[href^=mailto] {
  border-bottom: 1px solid $email_underline;
  padding-bottom: 4px;

  &:hover {
    color: $email_hover;
    border-bottom: 1px solid $email_hover;
    padding-bottom: 4px;
  }

  &:active {
    color: $email_active;
    border-bottom: 1px solid $email_underline_active;
    padding-bottom: 4px;
  }
}
