@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff") format("woff"),
  url("../fonts/opensans.woff2") format("woff2");
  font-weight: $regular;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensansbold.woff") format("woff"),
  url("../fonts/opensansbold.woff2") format("woff2");
  font-weight: $bold;
}

html,
body {
  font-family: $sans-serif-stack;
  font-size: 15px;
  line-height: 24px;
  font-weight: $regular;
}

a {
  text-decoration: none;
  color: $text_color;
}
