.title-menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  @include wrapper_wide;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
  }

  @include desktop {
    flex-direction: row;
  }
}

.title-menu__list-item {
  background-repeat: no-repeat;

  @include tablet {
    width: 50%;
  }

  @include desktop {
    width: 50%;
  }
}

.title-menu__link {
  display: block;
  font-size: 19px;
  line-height: 24px;
  font-weight: $bold;
  padding-top: 26px;
  padding-bottom: 30px;
  padding-left: 27px;
  padding-right: 120px;
  color: $title_link;

  @include tablet {
    font-size: 20px;
    line-height: 30px;
    padding-top: 28px;
    padding-bottom: 30px;
    padding-left: 35px;
  }

  @include desktop {
    font-size: 20px;
    line-height: 30px;
    padding-top: 28px;
    padding-bottom: 30px;
    padding-right: 350px;
    padding-left: 40px;
  }
}

.title-menu__list-item a:active {
  opacity: 0.3;
}

.title-menu__list-item:hover {

}

.title-menu__list-item--interior {
  background-color: $accent_color;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2240.219%22%20height%3D%2262.411%22%20viewBox%3D%22-259.404%20-19.675%2040.219%2062.411%22%20fill-opacity%3D%22.5%22%20fill%3D%22%23149080%22%3E%3Cpath%20d%3D%22M-244.227%2018.283c-.286.966-.245%202.191.027%203.639.494%202.635%201.687%206.041%202.358%209.67h5.062c.696-3.641%201.949-7.05%202.471-9.683.287-1.445.33-2.66.041-3.617-.275-.899-.89-1.618-2.021-2.303h-5.997c-1.075.679-1.674%201.391-1.941%202.294zm11.832%2019.995h-13.799c-1.293%200-2.299.976-2.299%202.229v2.229h18.397v-2.229c0-1.253-1.006-2.229-2.299-2.229zm7.133-55.724h-11.732c0-1.244-1.015-2.229-2.3-2.229-1.283%200-2.3.985-2.3%202.229h-11.737l-6.073%2025.517c.794-.461%201.589-.992%202.632-.992%201.359%200%202.243.818%202.924%201.375.682.557%201.162.849%201.447.849.292.001.769-.287%201.451-.836.681-.548%201.564-1.358%202.915-1.358%201.349%200%202.237.806%202.919%201.354.684.549%201.161.84%201.451.84.146%200%20.338-.073.58-.214.242-.141.53-.353.872-.626.512-.411%201.139-.967%201.99-1.218.284-.085.593-.136.93-.136%201.347%200%202.238.805%202.92%201.354.683.548%201.159.84%201.451.84.287-.002.766-.296%201.445-.85.684-.554%201.571-1.367%202.925-1.367%201.356%200%202.239.817%202.919%201.371.342.276.631.489.872.631.24.143.431.214.575.214.288%200%20.762-.293%201.442-.854.68-.559%201.567-1.384%202.929-1.384%201.044%200%201.839.533%202.632.997l-6.079-25.507zm-10.619%2051.266h-6.864c-.657%200-1.15.479-1.15%201.115%200%20.635.493%201.113%201.15%201.113h6.9c.655%200%201.15-.479%201.15-1.113%200-.636-.495-1.115-1.15-1.115h-.036zm-3.414-24.484c-.146%200-.338.074-.58.213-.157.094-.37.261-.57.41v3.731h2.299V9.959c-.505-.378-.908-.623-1.149-.623z%22%2F%3E%3C%2Fsvg%3E%0A");
  background-position: 243px center;

  @include tablet {
    background-position: 258px center;
  }

  @include desktop {
    background-position: 450px center;
  }

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 0 0 $accent_color;
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2240.219%22%20height%3D%2262.411%22%20viewBox%3D%22-259.404%20-19.675%2040.219%2062.411%22%20fill-opacity%3D%22.7%22%20fill%3D%22%23149080%22%3E%3Cpath%20d%3D%22M-244.227%2018.283c-.286.966-.245%202.191.027%203.639.494%202.635%201.687%206.041%202.358%209.67h5.062c.696-3.641%201.949-7.05%202.471-9.683.287-1.445.33-2.66.041-3.617-.275-.899-.89-1.618-2.021-2.303h-5.997c-1.075.679-1.674%201.391-1.941%202.294zm11.832%2019.995h-13.799c-1.293%200-2.299.976-2.299%202.229v2.229h18.397v-2.229c0-1.253-1.006-2.229-2.299-2.229zm7.133-55.724h-11.732c0-1.244-1.015-2.229-2.3-2.229-1.283%200-2.3.985-2.3%202.229h-11.737l-6.073%2025.517c.794-.461%201.589-.992%202.632-.992%201.359%200%202.243.818%202.924%201.375.682.557%201.162.849%201.447.849.292.001.769-.287%201.451-.836.681-.548%201.564-1.358%202.915-1.358%201.349%200%202.237.806%202.919%201.354.684.549%201.161.84%201.451.84.146%200%20.338-.073.58-.214.242-.141.53-.353.872-.626.512-.411%201.139-.967%201.99-1.218.284-.085.593-.136.93-.136%201.347%200%202.238.805%202.92%201.354.683.548%201.159.84%201.451.84.287-.002.766-.296%201.445-.85.684-.554%201.571-1.367%202.925-1.367%201.356%200%202.239.817%202.919%201.371.342.276.631.489.872.631.24.143.431.214.575.214.288%200%20.762-.293%201.442-.854.68-.559%201.567-1.384%202.929-1.384%201.044%200%201.839.533%202.632.997l-6.079-25.507zm-10.619%2051.266h-6.864c-.657%200-1.15.479-1.15%201.115%200%20.635.493%201.113%201.15%201.113h6.9c.655%200%201.15-.479%201.15-1.113%200-.636-.495-1.115-1.15-1.115h-.036zm-3.414-24.484c-.146%200-.338.074-.58.213-.157.094-.37.261-.57.41v3.731h2.299V9.959c-.505-.378-.908-.623-1.149-.623z%22%2F%3E%3C%2Fsvg%3E%0A");
  }

  &:active {
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2240.219%22%20height%3D%2262.411%22%20viewBox%3D%22-259.404%20-19.675%2040.219%2062.411%22%20fill-opacity%3D%22.3%22%20fill%3D%22%23149080%22%3E%3Cpath%20d%3D%22M-244.227%2018.283c-.286.966-.245%202.191.027%203.639.494%202.635%201.687%206.041%202.358%209.67h5.062c.696-3.641%201.949-7.05%202.471-9.683.287-1.445.33-2.66.041-3.617-.275-.899-.89-1.618-2.021-2.303h-5.997c-1.075.679-1.674%201.391-1.941%202.294zm11.832%2019.995h-13.799c-1.293%200-2.299.976-2.299%202.229v2.229h18.397v-2.229c0-1.253-1.006-2.229-2.299-2.229zm7.133-55.724h-11.732c0-1.244-1.015-2.229-2.3-2.229-1.283%200-2.3.985-2.3%202.229h-11.737l-6.073%2025.517c.794-.461%201.589-.992%202.632-.992%201.359%200%202.243.818%202.924%201.375.682.557%201.162.849%201.447.849.292.001.769-.287%201.451-.836.681-.548%201.564-1.358%202.915-1.358%201.349%200%202.237.806%202.919%201.354.684.549%201.161.84%201.451.84.146%200%20.338-.073.58-.214.242-.141.53-.353.872-.626.512-.411%201.139-.967%201.99-1.218.284-.085.593-.136.93-.136%201.347%200%202.238.805%202.92%201.354.683.548%201.159.84%201.451.84.287-.002.766-.296%201.445-.85.684-.554%201.571-1.367%202.925-1.367%201.356%200%202.239.817%202.919%201.371.342.276.631.489.872.631.24.143.431.214.575.214.288%200%20.762-.293%201.442-.854.68-.559%201.567-1.384%202.929-1.384%201.044%200%201.839.533%202.632.997l-6.079-25.507zm-10.619%2051.266h-6.864c-.657%200-1.15.479-1.15%201.115%200%20.635.493%201.113%201.15%201.113h6.9c.655%200%201.15-.479%201.15-1.113%200-.636-.495-1.115-1.15-1.115h-.036zm-3.414-24.484c-.146%200-.338.074-.58.213-.157.094-.37.261-.57.41v3.731h2.299V9.959c-.505-.378-.908-.623-1.149-.623z%22%2F%3E%3C%2Fsvg%3E%0A");
  }
}

.title-menu__list-item--toys {
  background-color: $accent_color2;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2260%22%20height%3D%2259.62%22%20viewBox%3D%22226.001%20226.19%2060%2059.62%22%20fill-opacity%3D%22.5%22%20fill%3D%22%23149080%22%3E%3Cpath%20d%3D%22M226.001%20269.871l27.438%2015.934v-23.346l-27.438-15.94v23.352zm51.346-31.244v2.453c0%201.817-3.458%203.29-7.73%203.29-4.266%200-7.727-1.473-7.727-3.29v-4.059h.024c.26%201.714%203.604%203.073%207.702%203.073%204.272%200%207.729-1.474%207.729-3.285%200-1.819-3.457-3.289-7.729-3.289-.339%200-.675.01-1.002.03l-4.975-2.888v3.086c0%201.817-3.454%203.29-7.723%203.29-2.683%200-5.045-.583-6.433-1.467a3.928%203.928%200%200%200-.732-.586c-.363-.381-.565-.797-.565-1.236v-2.986l-4.807%202.792a21.384%2021.384%200%200%200-1.054-.033c-4.267%200-7.727%201.469-7.727%203.289%200%201.811%203.46%203.285%207.727%203.285%204.099%200%207.446-1.358%207.705-3.073h.022v4.059c0%201.817-3.455%203.29-7.727%203.29-4.267%200-7.727-1.473-7.727-3.29v-2.42l-5.952%203.452%2027.531%2015.986%2027.351-15.882-6.181-3.591zm-13.644%2010.166c0%201.817-3.46%203.287-7.727%203.287-4.269%200-7.729-1.47-7.729-3.287v-4.059h.024c.26%201.715%203.603%203.076%207.705%203.076%204.101%200%207.443-1.361%207.705-3.076h.021v4.059h.001zm-5.145%2013.873v23.144L286%20269.871v-23.144l-27.442%2015.939zm-2.641-29.904c4.269%200%207.723-1.47%207.723-3.286%200-1.814-3.454-3.287-7.723-3.287-4.27%200-7.729%201.472-7.729%203.287-.001%201.816%203.459%203.286%207.729%203.286%22%2F%3E%3C%2Fsvg%3E%0A");
  background-position: 233px center;

  @include tablet {
    background-position: 240px center;
  }

  @include desktop {
    background-position: 430px center;
  }

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 0 0 $accent_color2;
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2260%22%20height%3D%2259.62%22%20viewBox%3D%22226.001%20226.19%2060%2059.62%22%20fill-opacity%3D%22.7%22%20fill%3D%22%23149080%22%3E%3Cpath%20d%3D%22M226.001%20269.871l27.438%2015.934v-23.346l-27.438-15.94v23.352zm51.346-31.244v2.453c0%201.817-3.458%203.29-7.73%203.29-4.266%200-7.727-1.473-7.727-3.29v-4.059h.024c.26%201.714%203.604%203.073%207.702%203.073%204.272%200%207.729-1.474%207.729-3.285%200-1.819-3.457-3.289-7.729-3.289-.339%200-.675.01-1.002.03l-4.975-2.888v3.086c0%201.817-3.454%203.29-7.723%203.29-2.683%200-5.045-.583-6.433-1.467a3.928%203.928%200%200%200-.732-.586c-.363-.381-.565-.797-.565-1.236v-2.986l-4.807%202.792a21.384%2021.384%200%200%200-1.054-.033c-4.267%200-7.727%201.469-7.727%203.289%200%201.811%203.46%203.285%207.727%203.285%204.099%200%207.446-1.358%207.705-3.073h.022v4.059c0%201.817-3.455%203.29-7.727%203.29-4.267%200-7.727-1.473-7.727-3.29v-2.42l-5.952%203.452%2027.531%2015.986%2027.351-15.882-6.181-3.591zm-13.644%2010.166c0%201.817-3.46%203.287-7.727%203.287-4.269%200-7.729-1.47-7.729-3.287v-4.059h.024c.26%201.715%203.603%203.076%207.705%203.076%204.101%200%207.443-1.361%207.705-3.076h.021v4.059h.001zm-5.145%2013.873v23.144L286%20269.871v-23.144l-27.442%2015.939zm-2.641-29.904c4.269%200%207.723-1.47%207.723-3.286%200-1.814-3.454-3.287-7.723-3.287-4.27%200-7.729%201.472-7.729%203.287-.001%201.816%203.459%203.286%207.729%203.286%22%2F%3E%3C%2Fsvg%3E%0A");
  }

  &:active {
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2260%22%20height%3D%2259.62%22%20viewBox%3D%22226.001%20226.19%2060%2059.62%22%20fill-opacity%3D%22.3%22%20fill%3D%22%23149080%22%3E%3Cpath%20d%3D%22M226.001%20269.871l27.438%2015.934v-23.346l-27.438-15.94v23.352zm51.346-31.244v2.453c0%201.817-3.458%203.29-7.73%203.29-4.266%200-7.727-1.473-7.727-3.29v-4.059h.024c.26%201.714%203.604%203.073%207.702%203.073%204.272%200%207.729-1.474%207.729-3.285%200-1.819-3.457-3.289-7.729-3.289-.339%200-.675.01-1.002.03l-4.975-2.888v3.086c0%201.817-3.454%203.29-7.723%203.29-2.683%200-5.045-.583-6.433-1.467a3.928%203.928%200%200%200-.732-.586c-.363-.381-.565-.797-.565-1.236v-2.986l-4.807%202.792a21.384%2021.384%200%200%200-1.054-.033c-4.267%200-7.727%201.469-7.727%203.289%200%201.811%203.46%203.285%207.727%203.285%204.099%200%207.446-1.358%207.705-3.073h.022v4.059c0%201.817-3.455%203.29-7.727%203.29-4.267%200-7.727-1.473-7.727-3.29v-2.42l-5.952%203.452%2027.531%2015.986%2027.351-15.882-6.181-3.591zm-13.644%2010.166c0%201.817-3.46%203.287-7.727%203.287-4.269%200-7.729-1.47-7.729-3.287v-4.059h.024c.26%201.715%203.603%203.076%207.705%203.076%204.101%200%207.443-1.361%207.705-3.076h.021v4.059h.001zm-5.145%2013.873v23.144L286%20269.871v-23.144l-27.442%2015.939zm-2.641-29.904c4.269%200%207.723-1.47%207.723-3.286%200-1.814-3.454-3.287-7.723-3.287-4.27%200-7.729%201.472-7.729%203.287-.001%201.816%203.459%203.286%207.729%203.286%22%2F%3E%3C%2Fsvg%3E%0A");
  }
}
