.add-to-cart__wrapper {
  margin: 0 auto;
  width: 320px;
  border: 1px solid $add_to_cart_border;

  @include tablet {
    width: 566px;
  }

  @include desktop {
    width: 566px;
  }
}

.add-to-cart {
  text-align: center;
}

.add-to-cart__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: $bold;
}

.add-to-cart__size {
  font-size: 15px;
  line-height: 30px;
  color: $text_color;
}

.add-to-cart__button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 31px;
  margin-bottom: 46px;
}
