.contacts__wrapper {
  @include wrapper;
}

.contacts {
  margin-top: 36px;
  margin-bottom: 39px;

  @include tablet {
    margin-top: 67px;
    margin-bottom: 58px;
  }

  @include desktop {
    margin-top: 147px;
    margin-bottom: 105px;
    position: relative;
  }
}

.contacts__title {
  position: relative;
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: $bold;
  padding-bottom: 25px;

  @include tablet {
    font-size: 43px;
    line-height: 50px;
    margin-left: -5px;
  }

  @include desktop {
    font-size: 53px;
    line-height: 57px;
    margin-left: 173px;
  }
}

.contacts__title::after {
  content: "";
  position: absolute;
  background-image: url("../img/icon-flag.svg");
  background-repeat: no-repeat;
  width: 47px;
  height: 82px;
  display: none;

  @include tablet {
    display: block;
    top: -16px;
    right: 3px;
  }

  @include desktop {
    display: block;
    top: -8px;
    left: -110px;
  }
}

.contacts__table {
  font-size: 15px;
  line-height: 30px;

  @include tablet {
    font-size: 17px;
    margin-top: 24px;
  }

  @include desktop {
    font-size: 17px;
    margin-left: 175px;
    margin-top: 24px;
  }
}

.contacts__table tbody {
  @include tablet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.contacts__table-field {
  width: 77px;
  vertical-align: top;
}

.contacts__table-value {
  padding-bottom: 30px;
  vertical-align: top;

    @include tablet {
      width: 257px;
    }
}

.contacts__writeus {
  @include button;
  font-size: 18px;

  @include tablet {
    font-size: 17px;
    width: 226px;
    margin-top: 55px;
  }

  @include desktop {
    font-size: 17px;
    width: 226px;
    margin-top: 49px;
    margin-left: 177px;
  }
}
