.contacts__wrapper {
  @include wrapper;
}

.contacts {
  margin-top: 160px;
  position: relative;
}

.contacts__title {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;

  @include desktop {
    margin-top: 75px;
    margin-left: 175px;
  }
}

.contacts__table {
  @include desktop {
    margin-top: 65px;
    margin-left: 175px;
  }
}

.contacts__table tbody {
  @include tablet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.contacts__table-field {
  width: 40%;
  vertical-align: top;

  @include tablet {
    width: 200px;
  }

  @include desktop {
    width: 70px;
  }
}

.contacts__table-value {
  vertical-align: top;

    @include tablet {
    width: 240px;
    padding-right: 60px;
    }

    @include desktop {
    width: 120px;
    }
}

.map {
  @include desktop {
    position: absolute;
    left: 50%;
    bottom: 0px;
    z-index: 999;
  }
}

.map__image {
  margin: 0 auto;
  display: block;

  @include desktop {
    width: 525px;
    height: 427px;
  }
}

.contacts__writeus {
  display: block;
  font-size: 18px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: $text_color;
  width: 256px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 35px;
  margin-top: 35px;
  border: 2px solid $button_border;
  background: none;

  @include desktop {
    margin-top: 100px;
    margin-left: 175px;
  }
}
