.contacts__wrapper {
  @include wrapper;
}

.contacts {
  margin-top: 36px;
  margin-bottom: 39px;

  @include tablet {
    margin-top: 68px;
    margin-bottom: 58px;
  }

  @include desktop {
    margin-top: 147px;
    margin-bottom: 105px;
    position: relative;
  }
}

.contacts__title {
  position: relative;
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: $bold;
  padding-bottom: 25px;

  @include tablet {
    font-size: 43px;
    line-height: 50px;
    margin-left: -5px;
  }

  @include desktop {
    font-size: 53px;
    line-height: 57px;
    margin-left: 173px;
  }
}

.contacts__title::after {
  content: "";
  position: absolute;
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="46.68px" height="81.691px" viewBox="-11.34 -28.346 46.68 81.691" enable-background="new -11.34 -28.346 46.68 81.691" xml:space="preserve"><g id="miu"><g id="Artboard-1" transform="translate(-755.000000, -443.000000)"><g id="slice" transform="translate(215.000000, 119.000000)"></g><g id="editor-flag-triangle-notification-glyph"><path fill="#63D1BB" d="M751.439,418.545v38.9l38.9-19.451L751.439,418.545z M743.66,496.346v-81.691h3.805v81.691H743.66z"/></g></g></g><g><rect x="-11.34" y="-28.346" fill="#231F20" width="3.805" height="81.691"/></g></svg>');
  background-repeat: no-repeat;
  width: 47px;
  height: 82px;
  display: none;

  @include tablet {
    display: block;
    top: -16px;
    right: 3px;
  }

  @include desktop {
    display: block;
    top: -8px;
    left: -110px;
  }
}

.contacts__table {
  font-size: 15px;
  line-height: 30px;

  @include tablet {
    font-size: 17px;
    margin-top: 24px;
  }

  @include desktop {
    font-size: 17px;
    margin-left: 175px;
    margin-top: 24px;
  }
}

.contacts__table tbody {
  @include tablet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.contacts__table-field {
  width: 77px;
  vertical-align: top;
}

.contacts__table-value {
  padding-bottom: 30px;
  vertical-align: top;

    @include tablet {
      width: 257px;
    }
}

.contacts__writeus {
  @include button;
  font-size: 18px;

  @include tablet {
    font-size: 17px;
    width: 226px;
    margin-top: 55px;
  }

  @include desktop {
    font-size: 17px;
    width: 226px;
    margin-top: 49px;
    margin-left: 177px;
  }
}
