.features__wrapper {
  @include wrapper;
  margin-top: 70px;
}

.features {
  margin-top: 33px;

  @include tablet {
    margin-top: 118px;
  }

  @include desktop {
    margin-top: 155px;
  }
}

.features__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: $bold;
  margin: 0;

  @include tablet {
    font-size: 43px;
    line-height: 50px;
    margin-left: -5px;
  }

  @include desktop {
    font-size: 53px;
    line-height: 57px;
    margin-left: 173px;
  }
}

.features__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  padding-top: 3px;

  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 18px;
  }
  @include desktop {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 175px;
    margin-right: 175px;
    margin-top: 18px;
  }
}

.features__list-item {
  font-size: 17px;
  font-weight: $bold;
  line-height: 20px;
  padding-top: 18px;

  @include tablet {
    font-size: 20px;
    line-height: 22px;
    width: 332px;
    padding-bottom: 28px;
  }
  @include desktop {
    font-size: 20px;
    line-height: 22px;
    width: 350px;
    padding-bottom: 28px;
  }
}

.features__list-item::before {
  display: flex;
  content: "";
  width: 50px;
  height: 50px;
  margin-bottom: 15px;
  background-repeat: no-repeat;
  background-position: center;
}

.features__list-item--flower {
  @include tablet {
    order: 1;
  }

  @include desktop {
    order: 1;
  }

  &:before {
    background-image: url("../img/icon-feature-1.svg");
  }
}

.features__list-item--money {
  @include tablet {
    order: 3;
  }

  @include desktop {
    order: 3;
  }

  &:before {
  background-image: url("../img/icon-feature-3.svg");
  }
}

.features__list-item--heart {
  @include tablet {
    order: 5;
  }

  @include desktop {
    order: 5;
  }

  &:before {
  background-image: url("../img/icon-feature-5.svg");
  }
}

.features__list-item--ball {
  @include tablet {
    order: 2;
  }

  @include desktop {
    order: 2;
  }

  &:before {
  background-image: url("../img/icon-feature-2.svg");
  }
}

.features__list-item--rocket {
  @include tablet {
    order: 4;
  }

  @include desktop {
    order: 4;
  }

  &:before {
    background-image: url("../img/icon-feature-4.svg");
  }
}

.features__list-item--gift {
  @include tablet {
    order: 6;
  }

  @include desktop {
    order: 6;
  }

  &:before {
    background-image: url("../img/icon-feature-6.svg");
  }
}
