.header-menu__wrapper {
  background-color: #fafafa;
}

.header-title {
  margin: 0 auto;
  @include wrapper;
  text-align: center;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  padding-top: 70px;
  padding-bottom: 120px;
}

.header-title__bg {
  width: 260px;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 128px;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;

  @include tablet {
    width: 668px;

  }

  @include desktop {
    width: 1050px;

  }
}

.header-menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
  @include wrapper;
}

.header-menu__list-item {
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  padding: 30px;
  background-color: $accent_color;
}

.header-menu__list-item:nth-child(2) {
  background-color: $accent_color2;
}

.header-menu__list-item a {
  color: #ffffff;
  text-decoration: none;
}
