.header-menu__wrapper {
  background-color: #fafafa;
  border-top: 1px solid #ececec;
}

.header-title {
  margin: 0 auto;
  @include wrapper;
  text-align: center;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  padding-top: 70px;
  padding-bottom: 120px;
}

.header-title__bg {
  width: 260px;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 128px;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;

  @include tablet {
    width: 668px;
  }

  @include desktop {
    width: 1050px;
  }
}

.header-menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
  @include wrapper_wide;
}

.header-menu__list-item {
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  display: block;
  padding-top: 25px;
  padding-bottom: 35px;
  padding-right: 200px;
  padding-left: 30px;
  background-repeat: no-repeat;
}

.header-menu__list--interior {
  background-color: $accent_color;
  background-image: url("../img/icon-interior.svg");
  background-position: 243px center;
}

.header-menu__list--toys {
  background-color: $accent_color2;
  background-image: url("../img/icon-toy.svg");
  background-position: 233px center;
}

.header-menu__list-item a {
  color: #ffffff;
  text-decoration: none;
}
