.map {
  margin-top: 8px;
  margin-bottom: 38px;

  @include tablet {
    margin-top: 26px;
  }

  @include desktop {
    position: absolute;
    left: 50%;
    bottom: -38px;
    z-index: 5;
  }
}

.map__image {
  margin: 0 auto;
  display: block;
  position: relative;
  width: 320px;
  height: 457px;

  @include tablet {
    width: 768px;
    height: 457px;
  }

  @include desktop {
    width: 525px;
    height: 457px;
  }
}

.map__image::after {
  content: "";
  position: absolute;
  top: 165px;
  left: 124px;
  width: 66px;
  height: 101px;
  background-image: url("../img/icon-map-pin.svg");
  z-index: 10;

  @include tablet {
    top: 165px;
    left: 347px;
  }

  @include desktop {
    top: 166px;
    left: 237px;
  }
}
