.page-footer__wrapper {
  @include tablet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @include desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.page-footer {
  margin-top: 40px;
  background-color: $footer_background;
  padding-top: 20px;
  padding-bottom: 20px;
}

.page-footer__logo {
  display: none;
  margin: 15px auto;

  @include tablet {
    display: block;
    margin-left: 50px;
  }

  @include desktop{
    display: block;
    margin-left: 50px;
  }
}

.page-footer__social {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.page-footer__social-item {
  display: flex;
  font-size: 0;
}

.social-link {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.social-link--instagram {
  background-image: url("../img/icon-insta.svg");
}

.social-link--facebook {
  background-image: url("../img/icon-fb.svg");
}

.social-link--twitter {
  background-image: url("../img/icon-twitter.svg");
}

.page-footer__copyright {
  text-align: center;
  font-size: 19px;
  line-height: 18px;
  font-weight: $bold;
  display: block;
  width: 260px;
  padding-top: 15px;
  border-top: 1px solid $footer_divider;
  margin-left: auto;
  margin-right: auto;

  @include tablet {
    border-top: none;
    padding: 0;
    margin: 0;
    margin-right: 50px;
    width: auto;
  }

  @include desktop {
    border-top: none;
    padding: 0;
    margin: 0;
    margin-right: 50px;
    width: auto;
  }
}
