.page-footer__wrapper {
  @include wrapper;

  @include tablet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @include desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.page-footer {
  margin-top: 39px;
  background-color: $footer_background;
  padding-top: 20px;

  @include tablet {
    margin-top: 57px;
    padding-top: 36px;
    padding-bottom: 36px;
  }

  @include desktop {
    margin-top: 105px;
    padding-top: 36px;
    padding-bottom: 36px;
  }
}

.page-footer__logo {
  display: none;
  margin: 15px auto;

  @include tablet {
    display: block;
  }

  @include desktop{
    display: block;
    margin-left: 3px;
  }
}

.page-footer__social {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 148px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 5px;

  @include tablet {
    margin-left: 155px;
    margin-top: 8px;
  }

  @include desktop {
    margin-left: 345px;
    margin-top: 8px;
  }
}

.page-footer__social-item {
  display: flex;
  font-size: 0;
}

.social-link {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.social-link--instagram {
  background-image: url("../img/icon-insta.svg");
}

.social-link--facebook {
  background-image: url("../img/icon-fb.svg");
  margin-top: -2px;
}

.social-link--twitter {
  background-image: url("../img/icon-twitter.svg");
}

.page-footer__copyright {
  display: inline-block;
  text-align: center;
  font-size: 19px;
  line-height: 18px;
  font-weight: $bold;
  width: 260px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-left: 3px;
  border-top: 1px solid $footer_divider;

  @include tablet {
    border-top: none;
    padding: 0;
    margin: 0;
    margin-top: 5px;
    width: auto;
  }

  @include desktop {
    border-top: none;
    padding: 0;
    margin: 0;
    margin-top: 5px;
    width: auto;
  }
}

.page-footer__copyright-logo {
  font-size: 0;
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  margin-left: 11px;
  background-image: url("../img/htmlacademy.svg");
  background-repeat: no-repeat;
  background-position: 7px 0;
}
