.page-footer {
  margin-top: 30px;
  background-color: #f1f1f1;
  border: 2px solid red;
}

.page-footer__logo {
  display: none;
  margin: 15px auto;

  @include tablet {
    display: block;
  }

  @include desktop{
    display: block;
  }
}

.social {
  width: auto;
  background-color: red;
}

.social__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.social__list-item {
  background-color: #e1e1e1;
  display: inline-block;
  width: 30px;
  height: 30px;
  font-size: 0;
  margin-right: 40px;
}

.social__list-item:last-child {
  margin-right: 0px;
}

.social-link {

}

.copyright {
  text-align: center;
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  display: block;
  width: 260px;
  padding-top: 15px;
  border-top: 1px solid #e5e5e5;
  margin-left: auto;
  margin-right: auto;
}
