.production {
  @include wrapper;
  margin-top: 30px;
  border: 1px solid $product_border;
}

.production__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include desktop {
    position: relative;
    width: 368px;
    min-height: 382px;
    padding-left: 682px;
  }
}

.production__title {
  font-size: 17px;
  line-height: 24px;
  font-weight: $bold;
  @include desktop {

  }
}

.production__video {
  @include tablet {
    width: 668px;
    height: auto;
    order: -1;
  }
  @include desktop {
    width: 662px;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.production__text {
  font-size: 13px;
  line-height: 24px;
  color: $text_color;
}

.production__order {
  display: block;
  font-size: 18px;
  line-height: 16px;
  font-weight: $bold;
  text-transform: uppercase;
  text-align: center;
  color: $text_color;
  width: 188px;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 2px solid $button_border;
  background: none;
  margin-bottom: 33px;
}
