.production__wrapper {
  @include wrapper;
  width: 260px;
}

.production {
  margin-top: 30px;
}

.production__border {
  border: 1px solid #ededed;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.production__title {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}

.production__border video {
  @include tablet {
    width: 668px;
    height: auto;
    order: -1;
  }
}

.production__text {
  font-size: 13px;
  line-height: 24px;
  color: $text_color;
}

.production__order {
  display: block;
  font-size: 18px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: $text_color;
  width: 188px;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 2px solid #444444;
  background: none;
  margin-bottom: 33px;
}
