.reviews__wrapper {
  @include wrapper;
  position: relative;
  margin-bottom: 50px;
}

.reviews {
  margin-top: 55px;
}

.reviews__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: $bold;
  margin: 0;

  @include desktop {
    margin-left: 175px;
  }
}

.reviews__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @include desktop {
    margin-left: 175px;
  }
}

.reviews__text {
  font-size: 15px;
  color: $text_color;
  line-height: 30px;
  margin: 0;
  margin-top: 25px;
}

.reviews__list-item:nth-child(2), .reviews__list-item:nth-child(3) {
  display: none;
}

.reviews__name {
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  font-weight: $bold;
  display: block;
  margin-top: 25px;

  @include tablet {
    margin-top: 50px;
  }

  @include desktop {
    margin-top: 50px;
  }
}

.reviews__username {
  font-size: 18px;
  line-height: 30px;
  color: $text_color;
  display: block;
  margin-top: 3px;
}

.reviews__nav {
  display: flex;
  margin-top: 30px;
  margin-bottom: 39px;
}

.reviews__nav-prev {
  background: none;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid $reviews_nav_border;
  width: 50%;
  height: 52px;
  font-size: 0;

  @include tablet {
    border: none;
    position: absolute;
    width: 0px;
    right: 106px;
    bottom: 40px;
  }

  @include desktop {
    border: none;
    position: absolute;
    width: 0px;
    right: 106px;
    bottom: 40px;
  }
}

.reviews__nav-next {
  background: none;
  background: none;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid $reviews_nav_border;
  width: 50%;
  height: 52px;
  font-size: 0;

  @include tablet {
    border: none;
    position: absolute;
    width: 0px;
    right: 19px;
    bottom: 40px;
  }

  @include desktop {
    border: none;
    position: absolute;
    width: 0px;
    right: 19px;
    bottom: 40px;
  }
}

.reviews__write {
  display: block;
  font-size: 18px;
  line-height: 16px;
  font-weight: $bold;
  text-transform: uppercase;
  text-align: center;
  color: $text_color;
  width: 256px;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 2px solid $button_border;
  background: none;

  @include tablet {
    position: absolute;
    top: 0;
    right: 0;
  }
  @include desktop {
    position: absolute;
    top: 0;
    right: 0;
  }
}
