.reviews__wrapper {
  @include wrapper;
  position: relative;
  margin-bottom: 50px;
}

.reviews {
  margin-top: 55px;
  position: relative;
  padding-bottom: 1px;

  @include tablet {
    margin-top: 132px;
    padding-bottom: 37px;
  }

  @include desktop {
    margin-top: 132px;
    padding-bottom: 93px;
  }
}

.reviews::after {
  content: "";
  position: absolute;
  z-index: 5;
  width: 100%;
  background-repeat: repeat-x;
  background-image: url("../img/bg-zigzag-line.svg");
  height: 7px;
  bottom: 0;
  background-size: 100% 100%;

  @include tablet {
    height: 24px;
    bottom: -11px;
    background-size: 100% 100%;
  }

  @include desktop {
    height: 24px;
    bottom: -7px;
  }
}

.reviews__wrapper::after {
  @include tablet {
    content: "";
    position: absolute;
    width: 350px;
    height: 457px;
    background-image: url("../img/review@1x.jpg");
    background-size: 350px 457px;
    background-repeat: no-repeat;
    left: -50px;
    top: -76px;

    @include retina {
      background-image: url("../img/review@2x.jpg");
    }
  }

  @include desktop {
    content: "";
    position: absolute;
    width: 350px;
    height: 457px;
    background-image: url("../img/review@1x.jpg");
    background-size: 350px 457px;
    background-repeat: no-repeat;
    left: 0px;
    top: -70px;

    @include retina {
      background-image: url("../img/review@2x.jpg");
    }
  }
}

.reviews__title {
  position: relative;
  font-size: 25px;
  line-height: 30px;
  font-weight: $bold;
  margin: 0;
  z-index: 1;

  @include tablet {
    font-size: 43px;
    line-height: 50px;
    margin-left: -5px;
  }

  @include desktop {
    font-size: 53px;
    line-height: 57px;
    margin-left: 173px;
  }
}

.reviews__list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;

  @include desktop {
    margin-left: 175px;
  }
}

.reviews__text {
  font-size: 15px;
  line-height: 30px;
  color: $text_color;
  margin: 0;
  margin-top: 24px;

  @include tablet {
    font-size: 17px;
    margin-top: 48px;
  }

  @include desktop {
    font-size: 17px;
    margin-top: 48px;
    width: 800px;
  }
}

.reviews__list-item:nth-child(2), .reviews__list-item:nth-child(3) {
  display: none;
}

.reviews__name {
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  font-weight: $bold;
  display: block;
  margin-top: 25px;

  @include tablet {
    font-size: 17px;
    margin-top: 59px;
  }

  @include desktop {
    font-size: 17px;
    margin-top: 39px;
  }
}

.reviews__username {
  font-size: 18px;
  line-height: 30px;
  color: $text_color;
  display: block;
  margin-top: 3px;

  @include tablet {
    font-size: 17px;
    font-style: normal;
  }

  @include desktop {
    font-size: 17px;
    font-style: normal;
  }
}

.reviews__nav {
  display: flex;
  margin-top: 30px;
  margin-bottom: 39px;

  @include tablet {
    margin-top: 36px;
  }

  @include desktop {
    margin-top: 36px;
  }
}

.reviews__nav-prev {
  background: none;
  background-image: url("../img/icon-left-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid $reviews_nav_border;
  width: 50%;
  height: 52px;
  font-size: 0;
  z-index: 5;

  @include tablet {
    border: none;
    position: absolute;
    width: 50px;
    right: 106px;
    bottom: 40px;
  }

  @include desktop {
    border: none;
    position: absolute;
    width: 50px;
    right: 106px;
    bottom: 40px;
  }
}

.reviews__nav-next {
  background: none;
  background: none;
  background-image: url("../img/icon-right-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid $reviews_nav_border;
  width: 50%;
  height: 52px;
  font-size: 0;
  z-index: 5;

  @include tablet {
    border: none;
    position: absolute;
    width: 50px;
    right: 19px;
    bottom: 40px;
  }

  @include desktop {
    border: none;
    position: absolute;
    width: 50px;
    right: 19px;
    bottom: 40px;
  }
}

.reviews__nav-prev:hover, .reviews__nav-next:hover {
  opacity: 0.6;
}

.reviews__nav-prev:active, .reviews__nav-next:active {
  opacity: 0.3;
}

.reviews__write {
  @include button;
  font-size: 18px;
  z-index: 5;

  @include tablet {
    font-size: 17px;
    position: absolute;
    top: -23px;
    right: 0;
    width: 171px;
  }

  @include desktop {
    font-size: 17px;
    position: absolute;
    top: -17px;
    right: 0px;
    width: 171px;
  }
}
