.title {
  background-color: $title_background;
  border-top: 1px solid $title_border;

  @include tablet {
    margin-top: -71px;
  }

  @include desktop {
    margin-top: -75px;
  }
}

.title-text {
  font-size: 27px;
  line-height: 30px;
  font-weight: $bold;
  text-align: center;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 75px;

  @include tablet {
    font-size: 43px;
    line-height: 50px;
    padding-top: 93px;
    padding-bottom: 80px;
    padding-left: 3px;
  }

  @include desktop {
    font-size: 53px;
    line-height: 57px;
    padding-top: 93px;
    padding-bottom: 80px;
    padding-left: 3px;
  }
}
