.week-product__wrapper {
  @include wrapper;
  margin-bottom: 40px;

  @include tablet {
    position: relative;
  }
  @include desktop {
    position: relative;
  }
}

.week-product {
  margin-top: 27px;
  margin-bottom: 20px;

  @include tablet {
    margin-top: 45px;
  }

  @include desktop {
    margin-top: 123px;
  }
}

.week-product__name {
  font-size: 25px;
  line-height: 30px;
  font-weight: $bold;
  margin: 0;

  @include tablet {
    font-size: 43px;
    line-height: 50px;
    margin-left: -5px;
  }

  @include desktop {
    font-size: 53px;
    line-height: 57px;
    margin-left: 173px;
    z-index: 5;
    position: absolute;
  }
}

.week-product__title {
  font-size: 17px;
  line-height: 16px;
  font-weight: $bold;
  color: $accent_color;
  margin: 0;
  padding: 0;
  margin-top: 7px;
  text-transform: uppercase;

  @include tablet {
    padding-top: 0;
    position: absolute;
    top: 5px;
    right: 28px;
    width: 70px;
    text-align: center;
  }
  @include desktop {
    padding-top: 0;
    position: absolute;
    width: 70px;
    left: 48px;
    top: 10px;
    text-align: center;
  }
}

.week-product__desc {
  font-size: 15px;
  line-height: 24px;
  color: $text_color;
  margin-top: 24px;
  margin-bottom: 16px;

  @include tablet {
    font-size: 17px;
    line-height: 30px;
    width: 300px;
    margin-top: 50px;
  }
  @include desktop {
    font-size: 17px;
    line-height: 30px;
    width: 300px;
    padding-top: 106px;
    margin-left: 175px;
  }
}

.week-product__table {
  font-size: 15px;
  line-height: 20px;
  color: $text_color;
  border-collapse: collapse;
  width: 100%;

  @include tablet {
    width: 290px;
    margin-top: 33px;
  }
  @include desktop {
    width: 290px;
    margin-top: 47px;
    margin-left: 175px;
  }
}

.week-product tr {
  border-bottom: 1px solid $week_product_table_border;
}

.week-product td {
  padding: 10px 0;
}

.week-product td:nth-child(1) {
  width: 97px;
}
.week-product td:nth-last-child(1) {
  width: auto;
}

.week-product__image {
  margin-top: 28px;
  width: 100%;
  height: auto;

  @include tablet {
    margin-top: 0;
    position: absolute;
    width: 50%;
    right: 0;
    bottom: 0;
  }
  @include desktop {
    margin-top: 0;
    position: absolute;
    width: 50%;
    right: 0;
    top: -52px;
    z-index: 1;
  }
}

.week-product__price {
  font-size: 17px;
  line-height: 24px;
  font-weight: $bold;
  text-align: center;
  color: $text_color;
  order:0;

  @include tablet {
    font-size: 20px;
    width: 295px;
    margin-top: 54px;
  }
  @include desktop {
    font-size: 20px;
    width: 300px;
    margin-top: 108px;
    margin-left: 175px;
  }
}

.week-product__order {
  @include button;

  @include tablet {
    margin-left: 0;
    margin-top: 34px;
    width: 288px;
  }
  @include desktop {
    margin-left: 175px;
    margin-top: 34px;
    width: 288px;
  }
}
