.week-product__wrapper {
  @include wrapper;
  border: 1px solid red;
  width: 260px;
}

.week-product {
  margin-top: 33px;
}

.week-product__name {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
}

.week-product__title {
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: $accent_color;
  padding-top: 14px;
  margin: 0;
  text-transform: uppercase;
}

.week-product__desc {
  font-size: 15px;
  line-height: 24px;
  color: $text_color;
}

.week-product__table {
  font-size: 15px;
  line-height: 20px;
  color: $text_color;
  border-collapse: collapse;
  width: 100%;
}

.week-product tr {
  border-bottom: 1px solid #ececec;
}

.week-product td {
  padding: 14px 0;
}

.week-product td:nth-child(1) {
  width: 40%;
}
.week-product td:nth-last-child(1) {
  width: auto;
}

.week-product__image {
  margin-top: 28px;
  width: 100%;
  height: auto;
}

.week-product__price {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: $text_color;
}

.week-product__order {
  display: block;
  font-size: 18px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: $text_color;
  width: 256px;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 2px solid #444444;
  background: none;
}
